$header-background-color: rgb(45, 48, 58);
$header-border-color: rgb(50, 55, 70);
$header-title-color-primary: rgb(255, 255, 255);
$header-title-color-secondary: rgb(240, 108, 100);
$header-title-color-dot: rgb(73, 78, 98);

$slider-background-color: rgb(240, 108, 100);
$slider-border-color: rgb(234, 103, 107);
$slider-button-color: rgb(201, 69, 73);
$slider-camera-color: rgb(235, 80, 85);

$services-background-color: rgb(242, 242, 242);
$services-border-color: rgb(255, 255, 255);
$services-title-color: rgb(102, 109, 137);
$services-text-color: rgb(118, 126, 158);

$portfolio-background-color: rgb(45, 48, 58);
$portfolio-border-color: rgb(50, 55, 70);
$portfolio-title-color: rgb(102, 109, 137);
$portfolio-text-color: rgb(118, 126, 158);
$portfolio-image-background-color: rgb(70, 75, 94);
$button-color-primary: rgb(118, 126, 158);
$button-color-secondary: rgb(222, 222, 222);

$about-us-background-color: rgb(242, 242, 242);
$about-us-border-color: rgb(255, 255, 255);
$about-us-title-color: rgb(102, 109, 137);
$about-us-text-color: rgb(118, 126, 158);
$about-us-social-color: rgb(102, 109, 137);
$about-us-image-background-color: rgb(70, 75, 94);

$get-a-quote-background-color: rgb(240, 108, 100);
$get-a-quote-border-color: rgb(234, 103, 107);
$get-a-quote-input-color: rgb(214, 86, 79);
$get-a-quote-input-placeholder-color: rgb(244, 140, 143);
$get-a-quote-title-color: rgb(240, 216, 217);
$get-a-quote-text-color: rgb(240, 216, 217);

$footer-background-color: rgb(45, 48, 58);
$footer-text-color: rgb(102, 109, 137);
$footer-social-color: rgb(101, 109, 137);

$page-background-width : 1020px;
$content-width : 940px;
