$portfolio-background-color: rgb(45, 48, 58);
$portfolio-border-color: rgb(50, 55, 70);
$portfolio-title-color: rgb(102, 109, 137);
$portfolio-text-color: rgb(118, 126, 158);
$portfolio-image-background-color: rgb(70, 75, 94);
$button-color-primary: rgb(118, 126, 158);
$button-color-secondary: rgb(222, 222, 222);

$about-us-background-color: rgb(242, 242, 242);
$about-us-border-color: rgb(255, 255, 255);
$about-us-title-color: rgb(102, 109, 137);
$about-us-text-color: rgb(118, 126, 158);
$about-us-social-color: rgb(102, 109, 137);
$about-us-image-background-color: rgb(70, 75, 94);

$page-background-width : 1020px;
$content-width : 940px;
