.layout-2-column {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;

    @include media-tablet {
        display: block;
      }

}
.left-column {
   flex: 2 0 60%;
   margin-right: 20px;

   @include media-laptop {
    margin-right: 29px;
  }
  @include media-tablet {
    margin-right: 0;
  }

}
.right-column {
    flex: 1 0 30%;
}