.slider-content {
     position: relative;
     max-width:1020px;
     width: 100%;
     min-height:600px;
     
         
     @include media-laptop {
          min-height: 447px; 
     }
      
     @include media-tablet {
          min-height: 218px; 
     }
}