html, body, h2, h3, p, section, button {
  margin: 0;
  padding: 0;
}

body, *, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.body-content {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
  padding-top: 69px;
  border-bottom: 6px solid #323746;
  font-family: Lato, sans-serif;
  height: 870px;
}
.portfolio__title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 0.595;
  text-align: left;
  letter-spacing: -0.2px;
  color: #666d89;
}
.portfolio__text {
  margin: 27px 0 11px 0;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.667;
  text-align: left;
  color: #767e9e;
  -webkit-transform: scaleY(0.98);
  -moz-transform: scaleY(0.98);
  -o-transform: scaleY(0.98);
  -ms-transform: scaleY(0.98);
  transform: scaleY(0.98);
  letter-spacing: 0px;
}

.button-panel__button:hover {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Lato, sans-serif;
  height: 2.2rem;
  margin-left: 1px;
}
.button-panel__button {
  display: inline-block;
  height: 2.2rem;
  margin-right: 10px;
  padding: 0 6px;
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  font-weight: normal;
  line-height: 1.833;
  color: #767e9e;
  vertical-align: top;
  text-align: center;
}
.button-panel__button:first-child {
  padding: 0 6px 0 7px;
}
.button-panel__button:last-child {
  padding: 0 5px;
}
.button-panel__button_selected {
  border-color: #dedede;
  color: #dedede;
}
.button-panel__button:focus {
  border-color: #dedede;
  color: #dedede;
}
.button-panel__button:hover {
  border-color: #dedede;
  color: #dedede;
}

.art-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 639px;
  height: auto;
  overflow: hidden;
}
.art-album__image {
  flex: 1 0 21%;
  max-width: 220px;
  max-height: 187px;
  width: auto;
  height: auto;
  margin: 19px 0 1px 0;
  background-color: #464b5e;
}

.about-us {
  background-color: #f2f2f2;
  padding-top: 68px;
  border-bottom: 6px solid white;
  font-family: Lato, sans-serif;
  width: 100%;
  height: 734px;
}
.about-us__title {
  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
  line-height: 0.595;
  text-align: left;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.2px;
}
.about-us__text {
  margin: 27px 0 40px 0;
  font-weight: 300;
  font-size: 1.8rem;
  color: #767e9e;
  line-height: 1.667;
  text-align: justify;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 5px;
}
.cards-container__card:nth-child(2) {
  margin-left: -1px;
}
.cards-container__card:first-child .card__text {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.08px;
}

.card {
  font-family: Lato, sans-serif;
  max-width: 300px;
  height: 100%;
}
.card__image {
  max-width: 300px;
  max-height: 300px;
}
.card__name {
  max-width: 300px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 900;
  color: #666d89;
  margin: 15px 0 10px 0;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {
  font-size: 1.2rem;
  line-height: 1.833;
  font-weight: normal;
  color: #767e9e;
  text-align: justify;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 5px;
}
.cards-container__card:nth-child(2) {
  margin-left: -1px;
}
.cards-container__card:first-child .card__text {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.08px;
}

.card {
  font-family: Lato, sans-serif;
  max-width: 300px;
  height: 100%;
}
.card__image {
  max-width: 300px;
  max-height: 300px;
}
.card__name {
  max-width: 300px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 900;
  color: #666d89;
  margin: 15px 0 10px 0;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {
  font-size: 1.2rem;
  line-height: 1.833;
  font-weight: normal;
  color: #767e9e;
  text-align: justify;
}

.social-panel {
  display: flex;
  width: 51%;
  justify-content: space-between;
  padding-top: 24px;
}
.social-panel__link {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.social-panel__link_facebook {
  background-image: url("./assets/images/social/Facebook.svg");
}
.social-panel__link_google {
  background-image: url("./assets/images/social/Google.svg");
}
.social-panel__link_twitter {
  background-image: url("./assets/images/social/Twitter.svg");
}
.social-panel__link_linkedin {
  background-image: url("./assets/images/social/LinkedIn.svg");
}

/*# sourceMappingURL=singolo2.css.map */
