html, body, h2, h3, p, section, button, input, ul, li, div {
  margin: 0;
  padding: 0;
}

input, textarea {
  border: none;
}

body, *, *:before, *:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

.button-panel__button:hover, .slider__button_prev, .header-menu__link:hover {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.body-content {
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  position: relative;
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
}

.slider-content {
  position: relative;
  width: 1020px;
  min-height: 600px;
}

.iphone-rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: -122px;
  left: 122px;
}

.layout-3-column {
  display: flex;
  flex: 1 0 32%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-column {
  flex-grow: 2;
}

.right-column {
  flex-grow: 1;
}

.header {
  display: block;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: sticky;
  top: 0;
  z-index: 999;
}

html {
  scroll-padding-top: 94px;
}

.header-content {
  display: flex;
  height: 89px;
  justify-content: space-between;
  font-family: Lato, "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .header-content {
    justify-content: center;
    padding-left: 12px;
  }
}
.header-content__logo {
  align-self: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.24;
  color: white;
  text-transform: uppercase;
  -webkit-transform: scaleY(1.05);
  -moz-transform: scaleY(1.05);
  -o-transform: scaleY(1.05);
  -ms-transform: scaleY(1.05);
  transform: scaleY(1.05);
  letter-spacing: -0.45px;
  padding-bottom: 1px;
}
.header-content__logo:after {
  content: "*";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.24;
  color: #f06c64;
  margin-left: -5px;
}
.header-content__link {
  color: inherit;
  text-decoration: none;
}
.header-content__nav {
  align-self: center;
}

.header-menu {
  list-style: none;
  font-family: Lato, "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
}
.header-menu__item {
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.5;
  color: white;
  padding-left: 29px;
  padding-top: 10px;
  -webkit-transform: scaleY(1.05);
  -moz-transform: scaleY(1.05);
  -o-transform: scaleY(1.05);
  -ms-transform: scaleY(1.05);
  transform: scaleY(1.05);
  letter-spacing: 0px;
}
.header-menu__item:not(:first-child):before {
  position: absolute;
  bottom: 4px;
  left: 13px;
  content: ".";
  font-size: 1.9rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.5;
  color: #494e62;
}
.header-menu__link {
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.1px;
}
.header-menu__link:hover {
  color: #f06c64;
}
.header-menu__link_selected {
  color: #f06c64;
}

.slider {
  position: relative;
  width: auto;
  overflow: hidden;
}
.slider__button {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 27px;
  background: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  top: 281px;
  z-index: 15;
}
.slider__button_prev {
  background-image: url("./assets/images/slider/buttonPrev.svg");
  left: 42px;
}
.slider__button_next {
  background-image: url("./assets/images/slider/buttonNext.svg");
  right: 40px;
}
.slider__button:hover {
  opacity: 1;
}

.iphone-vertical {
  position: absolute;
  display: inline-block;
  left: 112px;
  top: 53px;
}
.iphone-vertical__shadow {
  position: absolute;
  width: 240px;
  height: 483px;
  background-image: url("./assets/images/slider/iphoneVerticalShadow.png");
  z-index: 1;
  top: -1px;
}
.iphone-vertical__screen {
  position: absolute;
  display: inline-block;
  top: 62px;
  left: 11px;
  width: 194px;
  height: 339px;
  background-image: url("./assets/images/slider/iphoneVerticalScreen.png");
  z-index: 4;
  transition: 1s;
}
.iphone-vertical__screen_off {
  background-image: url("./assets/images/slider/iphoneVerticalScreen_off.png");
  transition: 1s;
}

.iphone-horizontal {
  position: absolute;
  display: inline-block;
  left: 425px;
  top: 174px;
}
.iphone-horizontal__shadow {
  position: absolute;
  width: 483px;
  height: 240px;
  left: 1px;
  background-image: url("./assets/images/slider/iphoneHorizontalShadow.png");
  z-index: 1;
}
.iphone-horizontal__screen {
  position: absolute;
  display: inline-block;
  top: 11px;
  left: 57px;
  width: 339px;
  height: 194px;
  background-image: url("./assets/images/slider/iphoneHorizontalScreen.png");
  z-index: 4;
  transition: 1s;
}
.iphone-horizontal__screen_off {
  background-image: url("./assets/images/slider/iphoneHorizontalScreen_off.png");
  transition: 1s;
}

.iphone {
  display: inline-block;
  position: absolute;
  width: 215px;
  height: 458px;
  z-index: 2;
}
.iphone__body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 27px;
}
.iphone__speaker {
  position: absolute;
  top: 36px;
  left: 90px;
  width: 36px;
  height: 5px;
  background-color: #acacac;
  border-radius: 3px;
}
.iphone__camera {
  position: absolute;
  top: 17px;
  left: 103px;
}
.iphone__button {
  position: absolute;
  bottom: 50px;
  left: 86px;
}

.i-camera {
  position: relative;
}
.i-camera__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #d8d8d8;
  z-index: 4;
}
.i-camera__dot {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #eb5055;
  z-index: 5;
}

.i-button {
  position: relative;
}
.i-button__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fafafa;
}
.i-button__square {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  border: 2px solid #bababa;
  border-radius: 4px;
  cursor: pointer;
}

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid white;
  font-family: Lato, "Roboto", sans-serif;
  min-height: 500px;
  width: 100%;
}
.services__header {
  padding-top: 69px;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 0.6;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.2px;
  color: #666d89;
}
.services__text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.667;
  color: #767e9e;
  padding: 26px 0 45px 1px;
  text-align: justify;
}

.service {
  width: 300px;
  height: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.service__image {
  margin-top: 2px;
  width: 59px;
  height: 59px;
  resize: none;
  border-radius: 50%;
}
.service__content {
  margin-top: -1px;
  max-width: 220px;
}

.service-content__caption {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  color: #666d89;
  padding-bottom: 10px;
  padding-top: 2px;
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-content__text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.833;
  color: #767e9e;
  text-align: justify;
  max-height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio {
  background-color: #2d303a;
  padding-top: 69px;
  border-bottom: 6px solid #323746;
  font-family: Lato, "Roboto", sans-serif;
  min-height: 869px;
}
.portfolio__title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 0.595;
  text-align: left;
  letter-spacing: -0.2px;
  color: #666d89;
}
.portfolio__text {
  margin: 27px 0 11px 0;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.667;
  text-align: left;
  color: #767e9e;
  -webkit-transform: scaleY(0.98);
  -moz-transform: scaleY(0.98);
  -o-transform: scaleY(0.98);
  -ms-transform: scaleY(0.98);
  transform: scaleY(0.98);
  letter-spacing: 0px;
}

.button-panel__button:hover, .header-menu__link:hover, .slider__button_prev {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Lato, "Roboto", sans-serif;
  height: 2.2rem;
  margin-left: 1px;
}
.button-panel__button {
  display: inline-block;
  height: 2.2rem;
  margin-right: 10px;
  padding: 0 6px;
  cursor: pointer;
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
  outline: none;
  font-family: Lato, "Roboto", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #767e9e;
  padding-bottom: 2px;
}
.button-panel__button:first-child {
  padding: 0 6px 2px 7px;
}
.button-panel__button:last-child {
  padding: 0 5px 2px 5px;
}
.button-panel__button_selected {
  border-color: #dedede;
  color: #dedede;
}
.button-panel__button:hover {
  border-color: #dedede;
  color: #dedede;
}

.art-album {
  display: flex;
  flex-wrap: wrap;
  max-height: 639px;
  overflow: hidden;
}
.art-album__image-container {
  margin-top: 19px;
  margin-bottom: 1px;
  margin-right: 20px;
}
.art-album__image {
  width: 100%;
  cursor: pointer;
}
.art-album__image_selected {
  border: 5px solid #f06c64;
}

@media (min-width: 1020px) {
  .art-album__image-container {
    flex: 1 0 20%;
  }
  .art-album__image-container:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .art-album__image-container {
    flex: 1 0 30%;
  }
  .art-album__image-container:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .art-album__image-container {
    flex: 1 0 45%;
  }
  .art-album__image-container:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .art-album__image-container {
    flex: 1 0 45%;
  }
  .art-album__image-container:nth-child(2n) {
    margin-right: 0;
  }
}
.about-us {
  background-color: #f2f2f2;
  padding-top: 69px;
  border-bottom: 6px solid white;
  font-family: Lato, "Roboto", sans-serif;
  width: 100%;
  min-height: 734px;
}
.about-us__title {
  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
  line-height: 0.595;
  text-align: left;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.2px;
}
.about-us__text {
  margin: 27px 0 40px 0;
  font-weight: 300;
  font-size: 1.8rem;
  color: #767e9e;
  line-height: 1.667;
  text-align: justify;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 5px;
}
.cards-container__card:nth-child(2) {
  margin-left: -2px;
}
.cards-container__card:first-child .card__text {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.08px;
}

.card {
  font-family: Lato, "Roboto", sans-serif;
  max-width: 300px;
  height: 100%;
}
.card__image {
  max-width: 300px;
  max-height: 300px;
}
.card__name {
  max-width: 300px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 900;
  color: #666d89;
  margin: 15px 0 10px 0;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.833;
  color: #767e9e;
  text-align: justify;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 22px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 5px;
}
.cards-container__card:nth-child(2) {
  margin-left: -2px;
}
.cards-container__card:first-child .card__text {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.08px;
}

.card {
  font-family: Lato, "Roboto", sans-serif;
  max-width: 300px;
  height: 100%;
}
.card__image {
  max-width: 300px;
  max-height: 300px;
}
.card__name {
  max-width: 300px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 900;
  color: #666d89;
  margin: 15px 0 10px 0;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.833;
  color: #767e9e;
  text-align: justify;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 22px;
}

.social-panel {
  display: flex;
  max-width: 152px;
  width: 152px;
  justify-content: space-between;
}
.social-panel__link {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.social-panel__link_facebook {
  background-image: url("./assets/images/social/Facebook.svg");
  resize: none;
}
.social-panel__link_google {
  background-image: url("./assets/images/social/Google.svg");
  resize: none;
}
.social-panel__link_twitter {
  background-image: url("./assets/images/social/Twitter.svg");
  resize: none;
}
.social-panel__link_linkedin {
  background-image: url("./assets/images/social/LinkedIn.svg");
  resize: none;
}

.get-a-quote {
  background-color: #f06c64;
  font-family: Lato, "Roboto", sans-serif;
  border-bottom: 6px solid #ea676b;
}
.get-a-quote__header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 0.6;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.1px;
  color: #f0d8d9;
  text-align: left;
  padding: 69px 0 26px 0;
}
.get-a-quote__text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.667;
  color: #f0d8d9;
  text-align: justify;
  padding-bottom: 44px;
}

.form {
  max-width: 619px;
  width: 100%;
}
.form__input, .form__textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 0 15px;
  background-color: #d6564f;
  font-family: Lato, "Roboto", sans-serif;
  color: #f0d8d9;
  border-radius: 5px;
  outline: none;
}
.form__input::placeholder, .form__textarea::placeholder {
  color: #f48c8f;
}
.form__input:not(:placeholder-shown):invalid, .form__textarea:not(:placeholder-shown):invalid {
  border: 2px solid red;
}
.form__input:not(:placeholder-shown):focus:valid, .form__textarea:not(:placeholder-shown):focus:valid {
  border: 1px solid #f0d8d9;
}
.form__input {
  height: 38px;
}
.form__textarea {
  padding-top: 7px;
  height: 202px;
  resize: none;
}
.form__submit {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.214;
  text-transform: uppercase;
  color: #886a30;
  height: 38px;
  width: 136px;
  padding: 0 15px;
  background-color: #fbc65f;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  margin-bottom: 11px;
  outline: none;
}
.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 38px #d6564f inset !important;
  box-shadow: 0 0 0 38px #d6564f inset !important;
  -webkit-text-fill-color: #f48c8f !important;
}

input[type=text],
input[type=email],
textarea {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.83;
  color: #f0d8d9;
}

.contact-information {
  max-width: 300px;
  width: 100%;
}
.contact-information__header {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  -webkit-transform: scaleY(1.1);
  -moz-transform: scaleY(1.1);
  -o-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  transform: scaleY(1.1);
  letter-spacing: -0.1px;
  color: #f0d8d9;
}
.contact-information__text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.85;
  word-wrap: break-word;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  letter-spacing: -0.1px;
  color: #f0d8d9;
  padding: 10px 0 21px 0;
  text-align: justify;
}

.contacts {
  list-style: none;
}
.contacts__link {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.86;
  color: #f0d8d9;
  text-decoration: none;
  margin-left: -1px;
  text-align: justify;
}
.contacts__link_phone {
  background-image: url("./assets/images/get-a-quote/phone.png");
  background-repeat: no-repeat;
  padding-left: 24px;
  resize: none;
}
.contacts__link_mail {
  background-image: url("./assets/images/get-a-quote/mail.png");
  background-repeat: no-repeat;
  padding-left: 24px;
  width: 15px;
  height: 15px;
  resize: none;
}
.contacts__link_location {
  background-image: url("./assets/images/get-a-quote/location.png");
  background-repeat: no-repeat;
  padding-left: 24px;
  resize: none;
}

.footer {
  background-color: #2d303a;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}
.footer-content__copyright {
  flex-grow: 1;
  margin-left: 2px;
  margin-top: 0px;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 0.5;
  color: #666d89;
  -webkit-transform: scaleY(1.05);
  -moz-transform: scaleY(1.05);
  -o-transform: scaleY(1.05);
  -ms-transform: scaleY(1.05);
  transform: scaleY(1.05);
  letter-spacing: 0.3px;
  word-spacing: -0.4px;
  text-align: left;
}
.footer-content__social {
  flex-grow: 1;
}

.submit-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.4);
  overflow: hidden;
  z-index: 999;
}
.submit-message_hidden {
  display: none;
  pointer-events: fill;
}
.submit-message__content {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: #f06c64;
  font-family: Lato, "Roboto", sans-serif;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  -webkit-box-shadow: 0 5px 2px 1px #ea676b;
  box-shadow: 0 5px 2px 1px #ea676b;
}
.submit-message__caption {
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  color: #f0d8d9;
  padding-bottom: 10px;
}
.submit-message__description, .submit-message__subject {
  width: 100%;
  display: inline-block;
  font-family: Lato, "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  max-height: 7.68rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f06c64;
  color: #f0d8d9;
  text-align: justify;
  margin: 10px 0;
}
.submit-message__button {
  display: inline-block;
  font-family: Lato, "Roboto", sans-serif;
  margin: 10px auto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.214;
  color: #886a30;
  height: 38px;
  width: 136px;
  padding: 0 15px;
  background-color: #fbc65f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.iphone-vertical-green {
  position: absolute;
  display: inline-block;
  left: 383px;
  top: 43px;
}
.iphone-vertical-green__shadow {
  position: absolute;
  width: 255px;
  height: 513px;
  background-image: url("./assets/images/slider/iphoneVerticalGreenShadow.png");
  z-index: 1;
}
.iphone-vertical-green__body {
  position: absolute;
  width: 230px;
  height: 486px;
  background-image: url("./assets/images/slider/iphoneVerticalGreen.svg");
  z-index: 3;
}
.iphone-vertical-green .i-button-green__square {
  position: absolute;
  top: 446px;
  left: 106px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
}
.iphone-vertical-green__screen {
  position: absolute;
  display: inline-block;
  top: 69px;
  left: 14px;
  width: 201px;
  height: 354px;
  background-image: url("./assets/images/slider/iphoneVerticalGreenScreen.png");
  z-index: 4;
  transition: 1s;
}
.iphone-vertical-green__screen_off {
  transition: 1s;
  background-image: url("./assets/images/slider/iphoneVerticalGreenScreen_off.png");
}

.iphone-background-image {
  position: absolute;
  width: 156px;
  height: 314px;
  background-image: url("./assets/images/slider/iphoneBackground.svg");
}
.iphone-background-image_left {
  top: 152px;
  left: 252px;
}
.iphone-background-image_right {
  top: 152px;
  left: 612px;
}

.slide-carousel {
  position: absolute;
  top: 0;
  left: 0;
  animation: 0.5s ease-in-out;
  display: none;
  height: 600px;
  width: 100%;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-background_1 {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.slide-background_2 {
  background-color: #648bf0;
  border-bottom: 6px solid #5e86f7;
}

.active,
.next {
  display: block;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.hamburger__line, .hamburger:after, .hamburger:before {
  display: inline-block;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 2.4px;
}

.hamburger {
  display: none;
  position: absolute;
  top: 34px;
  left: 40px;
  width: 25px;
  height: 20px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  content: "";
  top: 0;
  left: 0;
}
.hamburger:after {
  content: "";
  bottom: 0;
  left: 0;
}
.hamburger__line {
  content: "";
  top: calc(50% - 1.2px);
  left: 0;
}

/*# sourceMappingURL=style.css.map */
