.art-album {
  //position: relative;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  max-height: 639px;
  overflow: hidden;

  &__image-container {
    
    margin-top: 19px;
    margin-bottom: 1px;
    margin-right: 20px;      

  }

  &__image {
    
    width: 100%;
    cursor: pointer;
    &_selected {
       border: 5px solid $portfolio-image-border-color;
    }
  }
}
@media (min-width: 1020px) {
  .art-album__image-container {
    flex: 1 0 20%;  
    &:nth-child(4n) {
      margin-right: 0;
    }  
  }
}
@media (min-width:768px) and (max-width: 1019px) {
  .art-album__image-container {
    flex: 1 0 30%;  
    &:nth-child(3n) {
      margin-right: 0;
    }  
  }
}

@media (min-width:375px) and (max-width: 767px) {
  .art-album__image-container {
    flex: 1 0 45%;      
    &:nth-child(2n) {
      margin-right: 0;
    }  
    
  }
}


@media (min-width:320px) and (max-width: 374px) {
  .art-album__image-container {
    flex: 1 0 45%; 
    &:nth-child(2n) {
      margin-right: 0;
    }  
    
  }
}