.art-album {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  max-height: 639px;
  overflow: hidden;
  

  @include media-laptop {
    max-height:1105px;
    margin-bottom: 65px;
    margin-top: 8px;
  }
  @include media-tablet {
    max-height:1214px;
    margin-bottom: 42px;
    margin-top: 15px;
  }
  @include media-mobile {
    max-height:568px;
    margin-bottom: 42px;
    margin-top: 15px;
  }

  &__image-container {
    
    margin-top: 19px;
    margin-bottom: 1px;
    margin-right: 20px;   

    &:nth-child(4n) {
      margin-right: 0;
    }  

    @include media-laptop { 
      flex: 1 0 30%;

      &:nth-child(n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
      margin-right: 0;
      }  

    } 
    @include media-tablet { 
      flex: 1 0 45%;
      margin-top: 9px;

      &:nth-child(n) {
        margin-right: 10px;
      }

      &:nth-child(2n) {
      margin-right: 0;
      }  

    } 


  }

  &__image {
    
    width: 100%;
    cursor: pointer;
    &_selected {
       border: 5px solid $portfolio-image-border-color;
    }
  }
}

.art-album .hide {
  @include media-tablet { 
    display: none;
  }
  
}
