.button-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: $base-font-family;
    height: 2.2rem;
    margin-left: 1px;

    &__button {
        display: inline-block;
        height: 2.2rem;
        margin-right: 10px;
        padding: 0 6px;
        background-color: $portfolio-background-color;
        border: 1px solid $button-color-primary;
        border-radius: 5px;
        outline: none;
        font-size: 1.2rem;
        font-family: $base-font-family;
        font-weight: $font-weight-normal;
        line-height: 1.833;        
        color: $button-color-primary;
        vertical-align: top;
        text-align: center;

    }
    &__button:first-child{
        
        padding: 0 6px 0 7px;
        
    }
    &__button:last-child{
        padding: 0 5px;
    }

    &__button_selected {        
        border-color: $button-color-secondary; 
        color: $button-color-secondary;
    }
    &__button:focus {        
        border-color: $button-color-secondary; 
        color: $button-color-secondary;
    }
    &__button:hover {        
        border-color: $button-color-secondary; 
        color: $button-color-secondary;
        @extend %transition;               
    }

    




}