.button-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: $base-font-family;
    height: 2.2rem;
    margin-left: 1px;

    &__button {
        display: inline-block;
        height: 2.2rem;
        margin-right: 10px;
        padding: 0 6px;
        cursor: pointer;
        
        background-color: $portfolio-background-color;
        border: 1px solid $button-color-primary;
        border-radius: 5px;
        outline: none;
        font-family: $base-font-family;
        @include font ($size: 1.2rem, 
               $height: 1,
               $weight: $font-weight-normal,
               $style: normal);               
        color: $button-color-primary;
        //vertical-align: top;
        //text-align: center;
        padding-bottom: 2px;

    }
    &__button:first-child{
        
        padding: 0 6px 2px 7px;
        
    }
    &__button:last-child{
        padding: 0 5px 2px 5px;
    }

    &__button_selected {        
        border-color: $button-color-secondary; 
        color: $button-color-secondary;
    }
    // &__button:focus {        
    //     border-color: $button-color-secondary; 
    //     color: $button-color-secondary;
    // }
    &__button:hover {        
        border-color: $button-color-secondary; 
        color: $button-color-secondary;
        @extend %transition;               
    }

    




}