.card {
  position: relative;
    //max-width: 300px; 

    &:not(:nth-child(3)){
      margin-right: 2.2%;
    }

    @include media-tablet {
      &:not(:nth-child(3)){
        margin-right: 0;
      }
      
      margin-right: 0;
      margin-bottom: 34px;
    }

    font-family: $base-font-family;      

    &__image {
      
      width: 100%; 
    }

    &__name {   
      //max-width: 300px;   
      width: 100%;
      font-size: 1.8rem;
      line-height: 1;        
      font-weight: $font-weight-black; 
      color: $about-us-title-color;
      margin: 15px 0 10px 0;
      @include transform(1, -0.1px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__text {
     // max-width: 300px;
      width: 100%;
      @include font ($size: 1.2rem, 
               $height: 1.833,
               $weight: $font-weight-normal,
               $style: normal);      
      color: $about-us-text-color;
      text-align: justify;       
      max-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;    
      margin-bottom: 22px; 
    }
    
    
}

