.cards-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  //overflow: hidden;
  padding-top: 5px;  

  @include media-tablet {
    display: block;
    // flex-wrap: wrap;
    // flex-direction: column;
  }


 
  // &__card:not(:nth-child(3)) {
  //     margin-right: 2%;
  // } 

  
  
  // // not in greed at the model
  // &__card:nth-child(2) {
  //     margin-left: -2px;
  // } 

  // &__card:first-child .card__text {
  //   @include transform(1, -0.08px);
    
  // }



}