.card {
    font-family: $base-font-family;
    max-width: 300px;
    height: 100%;

    &__image {
      max-width: 300px;
      max-height: 300px;
    }

    &__name {
      max-width: 300px;
      font-size: 1.8rem;
      line-height: 1;        
      font-weight: $font-weight-black; 
      color: $about-us-title-color;
      margin: 15px 0 10px 0;
      @include transform(1, -0.1px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__text {
      font-size: 1.2rem;
      line-height: 1.833;
      font-weight: $font-weight-normal; 
      color: $about-us-text-color;
      text-align: justify; 
      padding-bottom: 22px;     
    }
    
    
}

