.form {
  max-width: 619px;
  width: 100%;

  &__input,
  &__textarea {
    width: 100%;

    margin-bottom: 16px;
    padding: 0 15px;
    background-color: $get-a-quote-input-color;
    font-family: $base-font-family;
    color: $get-a-quote-text-color;
    border-radius: 5px;
    outline: none;

    &::placeholder {
      color: $get-a-quote-input-placeholder-color;
    }
    &:not(:placeholder-shown):invalid {
      border: 2px solid red;
    }
    &:not(:placeholder-shown):focus:valid {
      border: 1px solid $get-a-quote-text-color;
    }
  }

  &__input {
    height: 38px;
  }

  &__textarea {
    padding-top: 7px;
    height: 202px;
    resize: none;
  }

  &__submit {
    @include font(
      $size: 1.6rem,
      $height: 1,
      $weight: $font-weight-light,
      $style: normal
    );
    color: $get-a-quote-text-color;
    height: 38px;
    padding: 0 15px;
    background-color: $get-a-quote-input-color;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    margin-bottom: 11px;
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 38px $get-a-quote-input-color inset !important;
    box-shadow: 0 0 0 38px $get-a-quote-input-color inset !important;
    -webkit-text-fill-color: $get-a-quote-input-placeholder-color !important;
  }
}

input[type='text'],
input[type='email'],
textarea {
  @include font(
    $size: 1.2rem,
    $height: 1.83,
    $weight: $font-weight-normal,
    $style: normal
  );
  color: $get-a-quote-text-color;
}
