.get-a-quote {
    background-color: $get-a-quote-background-color;
    font-family: $base-font-family;
    border-bottom: 6px solid $get-a-quote-border-color;
    

    &__header {
        @include font ($size: 3rem, 
               $height: 0.6,
               $weight: $font-weight-black,
               $style: normal);
        @include transform($scaleY:1, $spacing:-0.1px);       
        color: $get-a-quote-title-color;       
        text-align: left;  
        padding: 69px 0 26px 0;

    }

    &__text {
        @include font ($size : 1.8rem, 
               $height: 1.667,
               $weight: $font-weight-light,
               $style: normal); 
        color: $get-a-quote-text-color; 
        text-align: justify;    
        padding-bottom: 44px;          
    }

}