.header {
    display: block;
    background-color: $header-background-color;
    border-bottom: 6px solid $header-border-color;  
    position: sticky;
    top:0;    
    z-index: 999;
}

html {
    scroll-padding-top: 94px;
}

