.header {
    background-color: $header-background-color;
    border-bottom: 6px solid $header-border-color;  
    position: fixed;
    width: 1020px;
        
    // margin: 0 auto; 
    z-index: 999;
}

html {
    scroll-padding-top: 95px;
}