.iphone-vertical {
  position: absolute;
  display: inline-block;  
  left:112px;  
  top: 53px;
 
  @include media-laptop {
    transform: scale(0.75);
    top: 41px;
    left: calc(50% - 270px);
  }

  @include media-tablet {
        transform: scale(0.37);
        left: calc(50% - 135px);
        top:20px;
    }


  
  &__shadow {
    position: absolute;
    width: 240px;
    height: 483px;
    background-image: url('./assets/images/slider/iphoneVerticalShadow.png');
    z-index: 1;
    top: -1px;
  }
  &__screen {
    position: absolute;
    display: inline-block;
    top: 62px;
    left: 11px;
    width: 194px;
    height: 339px;
    background-image: url('./assets/images/slider/iphoneVerticalScreen.png');
    z-index: 4;
    transition: 1s;
  }

  &__screen_off {
    background-image: url('./assets/images/slider/iphoneVerticalScreen_off.png');
    transition: 1s;
  }
  
}