.iphone-horizontal {
    position: absolute;
    display: inline-block;  
    left:385px;
    top:174px;
    display: none;
    

    &__shadow {
      position: absolute;
      width: 483px;
      height: 240px;
      left: 1px;
      background-image: url('./assets/images/slider/iphoneHorizontalShadow.png');
      z-index: 1;
    }

    &__screen {
      position: absolute;
      display: inline-block;
      top: 11px;
      left: 57px;
      width: 339px;
      height: 194px;
      //background-color: black;
      background-image: url('./assets/images/slider/iphoneHorizontalScreen.png');
      z-index: 4;
      transition: 1s;
    }
    &__screen_off {
      background-image: url('./assets/images/slider/iphoneHorizontalScreen_off.png');
      transition: 1s;
    }
    
  }