.iphone-vertical-green {
  position: absolute;
  display: inline-block;  
  left:383px;
  top: 43px; 


  @include media-laptop {
    transform: scale(0.75);
    top: 41px;
    left: calc(50% - 90px);
  }

  @include media-tablet {
        transform: scale(0.37);
        left: calc(50% - 44px);
        top:20px;
    }




  //display: none;
  
  &__shadow {
    position: absolute;
    width: 255px;
    height: 513px;
    background-image: url('./assets/images/slider/iphoneVerticalGreenShadow.png');
    z-index: 1;    
  }

  &__body {
    position: absolute;
    width: 230px;
    height: 486px;
    background-image: url('./assets/images/slider/iphoneVerticalGreen.svg');
    z-index: 3;    
  }
  .i-button-green__square{
    position: absolute;
    top: 446px;
    left: 106px;
    width: 18px;
    height: 18px;
    //border: 2px solid $slider-button-color;
    border-radius : 4px;
    cursor: pointer;    
  }

  &__screen {
    position: absolute;
    display: inline-block;
    top: 69px;
    left: 14px;
    width: 201px;
    height: 354px;
    background-image: url('./assets/images/slider/iphoneVerticalGreenScreen.png');
    z-index: 4;
    transition: 1s;
  }

  &__screen_off {
    transition: 1s;
    background-image: url('./assets/images/slider/iphoneVerticalGreenScreen_off.png');
    
  }
}
.iphone-background-image{
  display: inline-block;
  position: absolute;
  width: 156px;
  height: 314px;
  background-image:  url('./assets/images/slider/iphoneBackground.svg');
  
  @include media-laptop {
    transform: scale(0.75);    
  }

  @include media-tablet {
        transform: scale(0.37);        
    }


  &_left {
    top: 152px;
    left: 252px;

    @include media-laptop {
      top: 80px; 
      left: calc(50% - 210px);   
    }
  
    @include media-tablet {
      top: -40px;     
      left: calc(50% - 140px);
    }


  }
  &_right {
    top: 152px;
    left: 612px;

    @include media-laptop {
      top: 80px;  
      left: calc(50% + 63px);  
    }
  
    @include media-tablet {
      top: -40px;  
      left: calc(50% - 10px);
      }

  }

}