.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 74.1%;
  height: 100vh;
  background-color: $header-background-color;
  @extend %transition;
  left: 0;

  &__logo {
    position: absolute;
    left:71px;
    top: 31px;
    @include font($size: 2.5rem, $height: 1, $weight: $font-weight-bold, $style: normal);
    color: $header-title-color-primary;
    text-transform: uppercase;
    @include transform($scaleY: 1.05, $spacing: -0.45px);
    padding-bottom: 1px;
    &:after {
      content: "*";
      @include font($size: 2.5rem, $height: 0.24, $weight: $font-weight-bold, $style: normal);
      color: $header-title-color-secondary;
      margin-left: -5px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &_hidden {
    left: -100vw;
    @extend %transition;
    //display: none;
  }
}
