.service-content {

  &__caption {
    @include font($size: 1.8rem, $height: 1, $weight: $font-weight-black, $style: normal);
    color: $services-title-color;
    padding-bottom: 10px;
    padding-top: 2px;
    letter-spacing: -0.1px;
  }
  &__text {
    @include font($size: 1.2rem, $height: 1.833, $weight: $font-weight-normal, $style: normal);
    color: $services-text-color;
    text-align: justify;
  }
}