.service {
  position: relative;
  width: 300px;
  height: 104px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;  

  

  @include media-laptop {
    margin-bottom: 39px; 
    
    &:nth-child(2n-1){
      margin-right: 53px;   
    }
  }
  @include media-tablet { 
    &:nth-child(2n-1){
      margin-right: 0;   
    }
    margin: 0 0 15px 0;  
    width: 100%;   
  }  

  @include media-mobile { 
    width: 300px;
  }

  &__image {
    margin-top: 2px;    
    width: 59px;
    height: 59px;
    resize: none;    
    border-radius: 50%;
    //z-index: 7;
  }

  &__content {
    margin-top: -1px;
    //padding-left: 20px;
    max-width: 220px;

    @include media-tablet { 
      padding-left: 20px;
      max-width: none;
      width: 100%;
    }
    @include media-mobile { 
      max-width: 220px;
    }
  }

}