.service {
  width: 300px;
  height: auto;
  padding-bottom: 39px;
  display: flex;
  justify-content: space-between;

  &__image {
    width: 59px;
    height: 59px;
    
  }

  &__content {
    //padding-left: 20px;
    max-width: 220px;

  }

}