.slider {
  
  background-color: $slider-background-color;
  border-bottom: 6px solid $slider-border-color;
  position: relative;
  height: 600px;
  width: auto;

  &__button {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 27px;
    background: transparent;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    top:281px;

    &_prev {
      background-image: url("./assets/images/slider/buttonPrev.png");
      @extend %transition;
      left: 2px;
    }
    &_next {
      background-image: url("./assets/images/slider/buttonNext.png");
      right: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
}
