.slider {
  
  // background-color: $slider-background-color;
  // //background-color: $slider-background-secondary-color;
  // border-bottom: 6px solid $slider-border-color;
  position: relative;
  //padding-top : 95px;
  width: auto;
  overflow: hidden;

  &__button {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 27px;
    background: transparent;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    top:calc(50% - 13px);    
    z-index: 15;

    

    &_prev {
      background-image: url("./assets/images/slider/buttonPrev.svg");
      @extend %transition;
      left: 42px;
      @include media-laptop {
        left: 29px; 
      }
      @include media-tablet {
        left: 11px; 
      }


    }
    &_next {
      background-image: url("./assets/images/slider/buttonNext.svg");
      right: 40px;
      @include media-laptop {
        right: 29px; 
      }
      @include media-tablet {
        right: 11px; 
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}
