.social-panel {
    display: flex;
    justify-content: left; 
    


    &__link {
      display: inline-block;
      
      width: 33px;
      height: 33px;      

      &_facebook {
        background-image: url('./assets/images/social/Facebook.svg');
        
      }
      &_google {
        background-image: url('./assets/images/social/Google.svg');
      }
      &_twitter {
        background-image: url('./assets/images/social/Twitter.svg');  
      }
      &_linkedin {
        background-image: url('./assets/images/social/LinkedIn.svg');  
      }

    }
  }
    
