$base-font-family: Lato, sans-serif;
$base-font-size: 10px;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-black: 900;

html {
    font-size: $base-font-size;
}

h2 {
    font-family: $base-font-family;
    font-weight: $font-weight-black;    
}

h3 {
    font-family: $base-font-family;
    font-weight: $font-weight-black;
    line-height: 17.86px;  //change!
    font-size: 1.8rem;    
}

