$base-font-family: Lato, sans-serif;
$base-font-size: 10px;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-black: 900;

html {
    font-size: $base-font-size;
}


